# ====== Build & Dependencies ======
HELP.md
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# ====== Maven / Gradle / Wrapper ======
.mvn/wrapper/maven-wrapper.jar

# ====== Spring Tools Suite ======
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ====== IntelliJ IDEA ======
.idea
*.iws
*.iml
*.ipr

# ====== NetBeans ======
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ====== VS Code ======
.vscode/

# ====== OS & Misc ======
.DS_Store
Thumbs.db

# ====== Docker & Kubernetes ======
*.log
*.pid
*.tar
*.gz
*.zip
*.img
*.iso

# ====== Large binaries (VERY IMPORTANT) ======
minikube-linux-amd64
*.exe
*.bin
*.dmg
*.mp4
*.mp3
*.7z
*.rar
#=======
